<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.shingole" >

    <application
        android:name=".app.SheetMakerApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="keyboard|orientation|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DashboardActivity"
            android:label="@string/title_activity_filelist" >
        </activity>
        <activity
            android:name=".activity.SheetDesignerActivity"
            android:label="@string/title_activity_sheet_designer"
            android:parentActivityName=".activity.DashboardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.shingole.activity.DashboardActivity" />
        </activity>

        <service
            android:name=".WorksheetService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".activity.ViewWorksheetActivity"
            android:label="@string/title_activity_view_worksheet"
            android:parentActivityName=".activity.DashboardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.shingole.activity.DashboardActivity" />
        </activity>

        <provider
            android:name=".data.WorksheetContentProvider"
            android:authorities="in.shingole.sheetmaker"
            android:enabled="true"
            android:exported="false" >
        </provider>
    </application>

</manifest>
